<template>
  <div class="content-aboutus">
    <div class="bg"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
    <p class="copyright">{{ $t('copyright') }}</p>
    <NavbarMain isSignup=false></NavbarMain>
    <div class="content-text-about-us">
      <div class="text-about-us">
        <h1>{{ $t('aboutUs') }}</h1>
        <p>{{ $t('aboutUsMsg') }}</p>
      </div>
    </div>
  </div>
</template>


<script>
import NavbarMain from '@/components/NavbarMain.vue';

export default {
  name: 'AboutUs',
  components: {
    NavbarMain,
  }
}
</script>

<style scoped>
h1{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
}
p{
  text-align: center;
  margin: 16px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}
.content-text-about-us{
  margin-top: 8%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: top;
}
.text-about-us{
  padding: 16px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 35%;
  text-align: center;
  
}
.bg{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 250px solid #ff793f;
  border-left: 900px solid transparent;
  z-index: 1;
}
.bg3{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-top: 700px solid #ff5252;
  border-left: 600px solid transparent;
  z-index: 0;
}
.bg4{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-bottom: 400px solid #ff793f;
  border-left: 800px solid transparent;
  z-index: 0;
}

.bg2{
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid #ff5252;
  border-right: 700px solid transparent;
  z-index: 1;
}

.copyright{
  color: white;
  position: absolute;
  bottom: 0;
  left: 16px;
}
</style>

