<template>
  <div class="container-account">
    <ToolbarComponent :title="$t('account')"/>
    <div class="header-account">
      <div class="img-bg">
        <h4>{{this.organizer[0].name}}</h4>
      </div>
      <div class="img-profile">
        <img :src="this.organizer[0].image_profile" v-if="!not_photo" @click="changeImage"/>
        <UploadProfileImg @downloadURL="updateProfileImage" v-if="not_photo"/>
      </div>
    </div>
    <div class="content">
      <div class="org-information">
        <div class="followers-reputation">
          <div class="followers">
            <h3>{{ $t('followers') }}</h3>
            <p>{{this.organizer[0].number_followers}}</p>
          </div>
          <div class="line"></div>
          <div class="reputation">
            <h3>{{ $t('reputation') }}</h3>
            <p>{{puntuation}}</p>
          </div>
        </div>
        <h3>{{ $t('last_events') }}</h3>
        <div class="last-events">
          <div class="event" v-for="(event,i) in this.organizer[0].events" :key="i">
            <img class="img-thumbnail-event" :src="event.image1" />
          </div>
        </div>
      </div>
      <div class="organizer-details">
        <div class="details">
          <label>{{ $t('name') }}</label>
          <v-text-field :value="this.organizer[0].name" append-icon="email" v-model="name"></v-text-field>
          <label>{{ $t('description') }}</label>
          <v-textarea :value="this.organizer[0].description" v-model="description"></v-textarea>
          <label>{{ $t('phone_contact') }}</label>
          <v-text-field :value="this.organizer[0].phone" v-model="phone"></v-text-field>
          <v-btn color="#ff5252" @click="updateDataOrganizer">{{ $t('update_data') }}</v-btn>
        </div>
    </div>
    </div>
  </div>
</template>


<script>
import ToolbarComponent from '@/components/ToolbarComponent.vue';
import UploadProfileImg from '@/components/UploadProfileImg.vue';
import * as firebase from 'firebase';

export default {
  name: 'Account',
  data (){
    return {
      organizer: [],
      name: '',
      description: '',
      phone: '',
      image: '',
      not_photo: true,
      puntuation: 0,
    }
  },
  components: {
    ToolbarComponent,
    UploadProfileImg,
  },
  created () {
    var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID);
    ref.once('value', (snapshot) => {
      this.organizer.push(snapshot.val())
      this.name = this.organizer[0].name
      this.description = this.organizer[0].description
      this.phone = this.organizer[0].phone
      if(snapshot.val().image_profile != null) {
        this.not_photo = false;
      }
    }).then(() => {
      this.getReputation();
    })
  },
  methods: {
    getReputation() {
      var counter = 0;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/reputation');
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          counter++;
          this.puntuation = this.puntuation + child.val().puntuation;
        })
      }).then(() => {
        counter > 0 ? this.puntation = this.puntuation / counter : this.puntuation = 0
      })
    },
    changeImage() {
      this.not_photo = true;
    },
    updateDataOrganizer() {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID);
      ref.update({
        name: this.name,
        description: this.description,
        phone: this.phone,
        image_profile: this.image,
      })
    },
    updateProfileImage(value) {
      this.image = value;
    }
  }
}
</script>


<style scoped>
.img-thumbnail-event{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.img-thumbnail-event:hover{
  cursor: pointer;
}
label{
  margin: 8px;
}
.v-text-field{
  margin: 8px;
}
.v-btn{
  color: white;
  width: 100%;
}
.container-account {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.title-data{
  padding-bottom: 16px;
  text-align: left !important;
}
.header-account{
  position: relative;
}
.content{
  height: 100%;
  width: 100%;
  display: flex;
}
.img-bg{
  width: 100%;
  height: 174px;
  background: #ff5252;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}

.img-profile img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.img-profile:hover{
  cursor: pointer;
}

.changeImage{
  color: black;
  position: absolute;
  top: 0;
  width: 3%;
}

.img-profile{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  bottom: -40%;
  left: 7%;
  background: #ff5252;
}
.org-information{
  height: 100%;
  width: 30%;
  background: #F3F3F3;
  border-top: 5px solid white;
}
.followers-reputation{
  display: flex;
  width: 100%;
  justify-content: center;
}
.followers{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  text-align: center;
}

.reputation{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  text-align: center;
}
.line{
  height: 100px;
  border-left: 3px solid black;
  margin: 0 32px;
  margin-top: 109px;
}

.organizer-details{
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid white;
  border-left: 5px solid white;
}
.details{
  height: 100%;
  width: 70%;
}
.last-events{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 8px;
  padding: 16px;
  height: 300px;
  overflow: auto;

}
h3{
  padding: 16px;
  color: black;
}
.event{
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 5px;
  border: 2px solid #ff5252;
}

.event img{
  border-radius: 3px;
}
</style>
