<template>
  <div class="add-event-container">
    <v-dialog class="dialog" v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar fixed flat dark color="#ff5252">
          <v-btn icon dark @click="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('addEvent') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <div>
              <button class="language" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared="false" />
              </button>
            </div>
          </v-toolbar-items>
        </v-toolbar>
        <v-form class="form">
          <div class="first-column"></div>
          <div class="second-column">
            <h3>{{ $t('how_name_your_event') }}</h3>
            <v-text-field
              v-model="titleEvent"
              :counter="30"
              label="Title event"
              required
              box
            ></v-text-field>
            <h3>{{ $t('what_place_your_event') }}</h3>
            <v-select
              v-model="placeEvent"
              label="Place"
              :items="places"
              required
              box
            ></v-select>
            <h3>{{ $t('description_event') }}</h3>
            <v-textarea
              v-model="descriptionEvent"
              :counter="300"
              label="Description"
              required
              box
            ></v-textarea>
            <h3>{{ $t('date_event') }}</h3>
            <CalendarComponent @saveDate="updateDate"/>
            <h3>{{ $t('time_event') }}</h3>
            <Time @clickedTimeFinish="updateTimeFinish" @clickedTimeStart="updateTimeStart"/>
            <h3>{{ $t('tickets_event') }}</h3>
            <v-select
              v-model.number="ticketNumber"
              label="Number tickets"
              :items="tickets"
              required
              box
            ></v-select>
            <div v-if="!displayDIV" class="tickets">
              <div class="ticket" v-for="(ticket, i) in ticketNumber" :key="i">
                <Tickets :number="i+1" @clickedSaveTicket="saveTicket"/>
              </div>
            </div>
            <div class="images">
              <UploadImages number="First" @downloadURL="saveFirstImage"/>
              <UploadImages number="Second" @downloadURL="saveSecondImage"/>
              <UploadImages number="Third" @downloadURL="saveThirdImage"/>
            </div>
            <v-btn color="#ff5252" class="button" @click="uploadEvent()">{{ $t('addEvent_button') }}</v-btn>
          </div><div class="third-column"></div>
        </v-form>
        <v-alert v-model="success" dismissible type="success">{{ $t('event_successful_upload') }}</v-alert>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Time from '@/components/Time.vue';
import UploadImages from '@/components/UploadImages.vue';
import CalendarComponent from '@/components/CalendarComponent.vue'
import Tickets from '@/components/Tickets.vue'
import { mapState } from 'vuex';
import * as firebase from 'firebase';
import moment from 'moment';
import i18n from '@/plugins/i18n';

export default {
  name: 'AddEvent',
  data() {
    return {
      dialog: true,
      titleEvent: '',
      placeEvent: '',
      longitude: 0,
      latitude: 0,
      descriptionEvent: '',
      imageUrl: '',
      imageFile: '',
      places: [],
      tickets: ['0', '1', '2', '3'],
      ticketNumber: 0,
      date: null,
      displayDIV: false,
      ticketsArray: [],
      number_events: 0,
      success: false,
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  components: {
    Time,
    UploadImages,
    CalendarComponent,
    Tickets,
  },
  created: function () {
    Object.keys(this.$store.state.userState.places).forEach(key => {
        this.places.push(this.$store.state.userState.places[key].title)
      });
  },
  methods: {
    saveTicket(value){
      this.ticketsArray.push(value);
    },
    changeLocale(locale) {
        i18n.locale = locale;
    },
    async uploadEvent() {
      this.getLatLng(this.placeEvent);
      var db = firebase.database();
      await db.ref('/organizers/'+this.$store.state.userState.UID+'/events').push({
        UID_org: this.$store.state.userState.UID,
        title: this.titleEvent,
        place: this.placeEvent,
        name_organizer: this.$store.state.userState.name,
        longitude: this.longitude,
        latitude: this.latitude,
        description: this.descriptionEvent,
        image1: this.image1,
        image2: this.image2,
        image3: this.image3,
        tickets: this.ticketsArray,
        date: this.date,
        timeStart: this.timeStart,
        timeEnd: this.timeEnd,
        timestamp: parseInt(new Date().getTime() / 1000),
      })
      .then(() => {
        this.success = true;
        this.updateCounter();
      })

      
    },
    getLatLng(namePlace){
      var db = firebase.database();
      var ref = db.ref('/organizers/'+this.$store.state.userState.UID+'/places');
      ref.once('value', (snapshot) => {
        snapshot.forEach((places) => {
          if(places.val().title == this.placeEvent){
            this.latitude = places.val().location.latitude
            this.longitude = places.val().location.longitude
          }
        })
      })
    },
    updateCounter(){
      var db = firebase.database();
      var ref = db.ref('/organizers/'+this.$store.state.userState.UID+'/number_events');
      ref.once('value', (snapshot) => {
        this.number_events = snapshot.val()
        this.number_events++
        this.update();
      })
    },
    update(){
      var db = firebase.database();
      var ref = db.ref().child('/organizers/'+this.$store.state.userState.UID);
      ref.update({
        number_events: this.number_events
      })
    },
    updateTimeStart(value) {
      this.timeStart = value;
    },
    updateTimeFinish(value) {
      this.timeEnd = value;
    },
    updateDate(value){
      this.date = value;
    },
    saveFirstImage(value){
      this.image1 = value
    },
    saveSecondImage(value){
      this.image2 = value
    },
    saveThirdImage(value){
      this.image3 = value
    },
    closeDialog: function () {
      this.dialog = false;
      this.$router.replace('/main');
    },
  }
};
</script>

<style scoped>
h3{
  margin-top: 16px;
}
.images{
  display: flex;
  justify-content: center;
}
.ticket{
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: 8px 0 8px 0;
}
.tickets{
  width: 100%;
  height: 100%;
  transition: 400ms;
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: column;
}
.button{
  width: 100%;
  color: white;
}
.add-event-container{
  font-family: 'Poppins', sans-serif;
}
.form {
  text-align: left;
  margin-top: 56px;
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}
.second-column{
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.v-toolbar__title{
  font-family: 'Poppins', sans-serif;
}

.v-text-field{
  margin-top: 8px;
}

h2{
  margin-top: 8px;
}
.language{
  height: 100%;
  margin-left: 16px;
}
</style>
