<template>
  <div class="add-organizer-container">
    <ToolbarAdminComponent />
    <div class="organizer-request">
      <h3>Solicitudes</h3>
      <v-card v-for="org in organizers" :key="org">
        <div>{{org.name}}</div>
        <div>{{org.phone}}</div>
        <div>{{org.email}}</div>
        <v-btn @click="registerOrganizer(org)" color="#ff5252">Registrar organizador</v-btn>
        <v-btn @click="deleteRequest(org)" outline color="#ff5252">Eliminar solicitud</v-btn>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import * as firebase from 'firebase';
import ToolbarAdminComponent from '@/components/ToolbarAdminComponent.vue';

export default {
  name: 'AddOrganizer',
  data() {
    return {
      organizers: [],
    }
  },
  components: {
    ToolbarAdminComponent,
  },
  methods: {
    async setOrganizerOnDatabse(key, uid, org){
      var ref = firebase.database().ref('/requests/'+key);
      await ref.remove();
      
    },
    async registerOrganizer(org) {
      await firebase.auth().createUserWithEmailAndPassword(org.email, org.password)
      .then((result) => {
        var ref = firebase.database().ref('/requests/');
        ref.once('value', (snapshot) => {
          snapshot.forEach((child) => {
            if(child.val().email === org.email){
              ref = firebase.database().ref('/requests/'+child.key);
              ref.remove();
              ref = firebase.database().ref('/organizers/').child(result.user.uid).set({
                UID: result.user.uid,
                codeRegister: 1111,
                description: '',
                email: org.email,
                isRegister: false,
                name: org.name,
                earnings: 0,
                number_events: 0,
                number_places: 0,
                number_messages: 0,
                number_followers: 0,
                phone: org.phone,
                reputation: 0,
                isFirst: true,
                image_profile: 'https://firebasestorage.googleapis.com/v0/b/socialzit.appspot.com/o/default%2Fdefault_image.png?alt=media&token=fd6e6ad8-3ea7-4e7e-8e39-5e9a2f418c83',
              })
            }
          })
        })
      })
      .catch(() => {
        console.log('Error')
      })
    },
    async deleteRequest(org) {
      var ref = firebase.database().ref('/requests')
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().email == org.email){
            ref = firebase.database().ref('/requests/'+child.key);
            ref.remove();
          }
        })
      })
    }
  },
  created() {
    var ref = firebase.database().ref('/requests/');
    ref.on('value', (snapshot) => {
      this.organizers = [];
      snapshot.forEach((child) => {
        this.organizers.push(child.val())
      })
    })
  }
};
</script>

<style scoped>
h3{
  margin: 8px;
}
.organizer-request{
  margin-top: 5%;
}
.v-card{
  margin: 8px;
  display: flex;
}
.v-card div{
  width: 100%;
  padding: 8px;
}
.button{
  width: 100%;
  color: white;
}
.add-organizer-container{
  font-family: 'Poppins', sans-serif;
}
.form {
  text-align: left;
  padding: 16px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 100%;
}
.second-column{
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.v-toolbar__title{
  font-family: 'Poppins', sans-serif;
}

.v-text-field{
  margin-top: 8px;
}

h2{
  margin-top: 8px;
}
</style>
