<template>
  <div class="add-place-container">
    <v-dialog class="dialog" v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar fixed flat dark color="#ff5252">
          <v-btn icon dark @click="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('addPlace') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <div>
              <button class="language" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared="false" />
              </button>
            </div>
          </v-toolbar-items>
        </v-toolbar>
        <v-form class="form">
          <div class="first-column"></div>
          <div class="second-column">
            <h3>{{ $t('how_name_your_place') }}</h3>
            <v-text-field
              v-model="titlePlace"
              :counter="15"
              label="Title place"
              required
              box
            ></v-text-field>
            <GoogleMap @location="saveLocation"/>
            <h3>{{ $t('description_place') }}</h3>
            <v-textarea
              v-model="descriptionPlace"
              :counter="300"
              label="Description"
              required
              box
            ></v-textarea>
            <h3>{{ $t('accesible') }}</h3>
            <v-checkbox 
              v-model="access_especial"
            ></v-checkbox>
            <h3>{{ $t('time_place') }}</h3>
            <TimePlace @clickedTimePlace="saveTimePlace"/>
            <h3>{{ $t('aforo') }}</h3>
            <v-text-field
              v-model="aforoPlace"
              label="Aforo"
              required
              box
              ></v-text-field>
              <div class="images">
                <UploadImages number="First" @downloadURL="saveFirstImage"/>
                <UploadImages number="Second" @downloadURL="saveSecondImage"/>
                <UploadImages number="Third" @downloadURL="saveThirdImage"/>
              </div>
              <v-btn color="#ff5252" class="button" @click="uploadPlace()">{{ $t('addPlace_button') }}</v-btn>
          </div>
          <div class="third-column"></div>
        </v-form>
        <v-alert v-model="success" dismissible type="success">Lugar añadido correctamente</v-alert>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import GoogleMap from '@/components/GoogleMap.vue';
import UploadImages from '@/components/UploadImages.vue';
import TimePlace from '@/components/TimePlace.vue';
import firebase from 'firebase';
import i18n from '@/plugins/i18n';

export default {
  name: 'AddPlace',
  data() {
    return {
      dialog: true,
      titlePlace: '',
      descriptionPlace: '',
      imageUrl: '',
      imageFile: '',
      aforoPlace: 0,
      timePlace: [],
      location: {
        latitude: '',
        longitude: '',
      },
      access_especial: false,
      success: false,
      number_places: 0,
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  components: {
    GoogleMap,
    UploadImages,
    TimePlace
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    async uploadPlace() {
      var db = firebase.database();
      await db.ref('/organizers/'+this.$store.state.userState.UID+'/places').push({
        title: this.titlePlace,
        description: this.descriptionPlace,
        image1: this.image1,
        image2: this.image2,
        image3: this.image3,
        location: this.location,
        aforo: this.aforoPlace,
        time: this.timePlace,
        timestamp: new Date().getTime(),
        access_especial: this.access_especial,
      }).then(() => {
        this.success = true;
        this.updateCounter();
      })
      
    },
    updateCounter(){
      var db = firebase.database();
      var ref = db.ref('/organizers/'+this.$store.state.userState.UID+'/number_places');
      ref.once('value', (snapshot) => {
        this.number_places = snapshot.val()
        this.number_places++
        this.update();
      })
    },
    update(){
      var db = firebase.database();
      var ref = db.ref().child('/organizers/'+this.$store.state.userState.UID);
      ref.update({
        number_places: this.number_places
      })
    },
    saveTimePlace(value){
      this.timePlace =  value;
    },
    saveFirstImage(value){
      this.image1 = value
    },
    saveSecondImage(value){
      this.image2 = value
    },
    saveThirdImage(value){
      this.image3 = value
    },
    saveLocation(value){
      this.location.latitude = value.geometry.location.lat()
      this.location.longitude = value.geometry.location.lng()
    },
    closeDialog: function () {
      this.dialog = false;
      this.$router.replace('/main');
    }
  }
}
</script>


<style scoped>
.images{
  display: flex;
  justify-content: center;
}
.button{
  width: 100%;
  color: white;
}
.add-place-container{
  font-family: 'Poppins', sans-serif;
}
.form {
  margin-top: 56px;
  text-align: left;
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}
.second-column{
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
.v-toolbar__title{
  font-family: 'Poppins', sans-serif;
}
h3{
  margin-top: 16px;
}
.language{
  height: 100%;
  margin-left: 16px;
}
</style>
