<template>
  <div>
    <v-dialog class="dialog" v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar fixed flat dark color="#ff5252">
          <v-btn icon dark @click="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('add_promotion') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <div>
              <button class="language" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared="false" />
              </button>
            </div>
          </v-toolbar-items>
        </v-toolbar>
        <v-form class="form">
          <div class="first-column"></div>
          <div class="second-column">
            <h3>{{ $t('how_name_your_promotion') }}</h3>
            <v-text-field
              v-model="titlePromotion"
              :counter="15"
              label="Title promotion"
              required
              box
            ></v-text-field>
            <h3>{{ $t('description_promotion') }}</h3>
            <v-textarea
              v-model="descriptionPromotion"
              :counter="300"
              label="Description"
              required
              box
            ></v-textarea>
            <h3>{{ $t('points_to_get_promotion') }}</h3>
            <v-text-field
              v-model.number="pointsPromotion"
              label="Points"
              required
              box
            ></v-text-field>
            <h3>{{ $t('date_promotion')}}</h3>
            <CalendarComponent @saveDate="updateDate"/>
              <div class="images">
                <UploadImages number="First" @downloadURL="saveFirstImage"/>
              </div>
              <v-btn color="#ff5252" class="button" @click="uploadPromotion()">{{ $t('add_promotion') }}</v-btn>
          </div>
          <div class="third-column"></div>
        </v-form>
        <v-alert v-model="success" dismissible type="success">Promocion añadida correctamente</v-alert>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import UploadImages from '@/components/UploadImages.vue';
import CalendarComponent from '@/components/CalendarComponent.vue';
import firebase from 'firebase';
import i18n from '@/plugins/i18n';

export default {
  name: 'AddPromotion',
  components: {
    UploadImages,
    CalendarComponent,
  },
  data() {
    return {
      dialog: true,
      titlePromotion: '',
      descriptionPromotion: '',
      pointsPromotion: 0,
      imagePromotion: null,
      datePromotion: null,
      success: false,
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    saveFirstImage(value){
      this.imagePromotion = value
    },
    updateDate(value){
      this.datePromotion = value;
    },
    closeDialog: function () {
      this.dialog = false;
      this.$router.replace('/main');
    },
    uploadPromotion() {
      var ref = firebase.database().ref('/promotions/'+firebase.auth().currentUser.uid);
      ref.push({
        titlePromotion: this.titlePromotion,
        descriptionPromotion: this.descriptionPromotion,
        pointsPromotion: this.pointsPromotion,
        imagePromotion: this.imagePromotion,
        datePromotion: this.datePromotion,
      }).then(() => {
        this.success = true;
      })
    }
  }
}
</script>


<style scoped>
.images{
  display: flex;
  justify-content: center;
}
.button{
  width: 100%;
  color: white;
}
.add-place-container{
  font-family: 'Poppins', sans-serif;
}
.form {
  margin-top: 56px;
  text-align: left;
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}
.second-column{
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
.v-toolbar__title{
  font-family: 'Poppins', sans-serif;
}
h3{
  margin-top: 16px;
}
.language{
  height: 100%;
  margin-left: 16px;
}
</style>
