<template>
  <div class="container-admin">
    <ToolbarAdminComponent title="Admin Panel" />
    <div class="container-inner">
      <v-card hover color="#ff5252" :to="{name: 'AddOrganizer'}">
        <v-card-text class="card-text">Add organizer</v-card-text>
      </v-card>
      <v-card hover color="#ff5252" :to="{name: 'DeleteOrganizer'}">
        <v-card-text class="card-text">Delete organizer</v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import ToolbarAdminComponent from '@/components/ToolbarAdminComponent.vue';

export default {
  name: 'AdminPanel',
  components: {
    ToolbarAdminComponent,
  },
  mounted() {
    this.$store.dispatch('setLoading', false);
  }
}
</script>


<style scoped>
.container-admin {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.container-inner{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-card{
  margin: 8px;
  height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text{
  color: white;
  text-align: center;
  font-size: 32px;
}
</style>

