<template>
  <div>
    <ToolbarAdminComponent />
    <div class="organizer-request">
      <h3>Solicitudes</h3>
      <v-card v-for="org in organizers" :key="org">
        <div>{{org.name}}</div>
        <v-btn @click="deleteOrganizer(org)" outline color="#ff5252">Eliminar organizador</v-btn>
      </v-card>
    </div>
  </div>
</template>


<script>
import ToolbarAdminComponent from '@/components/ToolbarAdminComponent.vue';
import * as firebase from 'firebase'

export default {
  name: 'DeleteOrganizer',
  components: {
    ToolbarAdminComponent,
  },
  data() {
    return {
      organizers: [],
    }
  },
  created() {
    var ref = firebase.database().ref('/organizers')
    ref.once('value', (snapshot) => {
      snapshot.forEach((child) => {
        this.organizers.push(child.val())
      })
    })
  },
  methods: {
    deleteOrganizer(org) {
      var ref = firebase.database().ref('/organizers/'+org.UID)
      ref.remove()
      .then(() => {
        console.log("Eliminado")
      })

    }
  }
}
</script>

<style scoped>
.organizer-request{
  margin-top: 5%;
}
.v-card{
  margin: 8px;
  display: flex;
}
.v-card div{
  width: 100%;
  padding: 8px;
}
</style>
