<template>
  <div class="container-details-event">
    <v-dialog class="dialog" v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar flat dark color="#ff5252">
          <v-btn icon dark @click="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{this.event.title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items right>
            <v-btn v-if="!edit" color="white" flat @click="deleteEvent">{{ $t('delete_event') }}</v-btn>
            <v-btn v-if="!edit" color="white" flat @click="editEvent">{{ $t('edit_event') }}</v-btn>
            <v-btn v-if="edit" color="white" flat @click="saveChangesOnEvent">{{ $t('save') }}</v-btn>
            <v-btn v-if="edit" color="white" flat @click="edit = false">{{ $t('cancel') }}</v-btn>
            <div>
              <button class="language" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared="false" />
              </button>
            </div>
          </v-toolbar-items>
        </v-toolbar>
        <div class="container">
          <div class="container-event">
            <v-carousel height="300">
              <v-carousel-item
                :src="this.event.image1"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
              <v-carousel-item
                :src="this.event.image2"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
              <v-carousel-item
                :src="this.event.image3"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
            </v-carousel>
            <div class="details">
              <div class="title-description">
                <h3 class="mainTitle">{{ $t('title_event_details') }}</h3>
                <v-text-field 
                  v-if="edit"
                  :value="this.event.title"
                  v-model="title"
                ></v-text-field>
                <p v-if="!edit" class="subtitle">{{this.event.title}}</p>
                <h3 class="mainTitle">{{ $t('description_event_details') }}</h3>
                <v-textarea
                  v-if="edit"
                  :value="this.event.description"
                  v-model="description"
                ></v-textarea>
                <p v-if="!edit" class="subtitle">{{this.event.description}}</p>
              </div>
              <div class="date-location">
                <h3 class="mainTitle">{{ $t('date_event_details') }}</h3>
                <CalendarComponent v-if="edit" @saveDate="updateDate"/>
                <p class="subtitle" v-if="!edit">{{this.event.date}}</p>
                <h3 class="mainTitle">Horario</h3>
                <Time v-if="edit" @clickedTimeFinish="updateTimeFinish" @clickedTimeStart="updateTimeStart"/>
                <p v-if="!edit" class="subtitle">{{this.event.timeStart}} - {{this.event.timeEnd}}</p>
              </div>
              <div class="location">
                <h3 class="mainTitle">{{ $t('location_event_details') }}</h3>
                <v-select
                  v-model="placeEvent"
                  label="Place"
                  :items="places"
                  required
                  box
                  v-if="edit"
                ></v-select>
                <gmap-map
                  v-if="!edit"
                  :center="center"
                  :zoom="16"
                  style="width:100%;  
                  height: 200px; 
                  border: 1px solid black;
                  margin-top: 16px;"
                >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center=m.position"
                ></gmap-marker>
              </gmap-map>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import ToolbarComponent from '@/components/ToolbarComponent.vue';
import CalendarComponent from '@/components/CalendarComponent.vue';
import Time from '@/components/Time.vue';
import firebase from 'firebase';
import i18n from '@/plugins/i18n';

export default {
  data() {
    return {
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      dialog: true,
      event: [],
      places: [],
      edit: false,
      title: '',
      description: '',
      date: null,
      timeStart: null,
      timeEnd: null,
      placeEvent: '',
      latitude: 0,
      longitude: 0,
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  components: {
    ToolbarComponent,
    CalendarComponent,
    Time,
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    editEvent () {
      this.edit = true;
    },
    updateDate(value){
      this.date = value;
    },
    updateTimeStart(value) {
      this.timeStart = value;
    },
    updateTimeFinish(value) {
      this.timeEnd = value;
    },
    saveChangesOnEvent() {
      this.edit = false;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/events');
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().timestamp == this.event.timestamp && 
          child.val().title == this.event.title){
            this.updateEvent(child.key);
          }
        })
      })
    },
    async updateEvent(eventKey){
      await this.getLatLng(this.placeEvent);
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/events/'+eventKey)
      ref.update({
        title: this.title,
        description: this.description,
        date: this.date,
        timeStart: this.timeStart,
        timeEnd: this.timeEnd,
        place: this.placeEvent,
        latitude: this.latitude,
        longitude: this.longitude,
      })
    },
    async getLatLng(namePlace){
      var db = firebase.database();
      var ref = db.ref('/organizers/'+this.$store.state.userState.UID+'/places');
      await ref.once('value', (snapshot) => {
        snapshot.forEach((places) => {
          if(places.val().title == this.placeEvent){
            this.latitude = places.val().location.latitude
            this.longitude = places.val().location.longitude
          }
        })
      })
    },
    closeDialog: function () {
      this.dialog = false;
      this.$router.replace('/manage_events');
    },
    async deleteEvent() {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/events');
      await ref.orderByChild('timestamp').equalTo(this.event.timestamp)
      .once('value').then(function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          this.closeDialog();
          ref.child(childSnapshot.key).remove();
        });
      });
    }
  },
  created() {
    Object.keys(this.$store.state.userState.places).forEach(key => {
        this.places.push(this.$store.state.userState.places[key].title)
    });
    this.event = this.$route.params.event;
    this.center.lat = this.event.latitude;
    this.center.lng = this.event.longitude;
    this.title = this.event.title;
    this.description = this.event.description;
    this.date = this.event.date;
    this.timeStart = this.event.timeStart;
    this.timeEnd = this.event.timeEnd;
    this.placeEvent = this.event.place;
    this.latitude = this.event.latitude;
    this.longitude = this.event.longitude;
  }
}
</script>

<style scoped>
.dialog{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.container-details-event{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-event{
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.details{
  width: 100%;
  padding: 8px;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.mainTitle{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  border-left: 4px solid #ff5252;
  padding: 8px;
  margin-top: 4px;
}

.subtitle{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
}

.v-toolbar{
  font-family: 'Poppins', sans-serif;
}
.language{
  height: 100%;
  margin-left: 16px;
}
</style>
