<template>
  <div class="get-a-code-container">
    <div class="bg"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
    <p>{{ $t('copyright') }}</p>
    <NavbarMain isSignup=false></NavbarMain>
    <div v-if="!upload" class="form">
      <h3>{{ $t('formGetCodeMessage') }}</h3>
      <label>Email</label>
      <v-text-field v-model="email" suffix="@organizador.com"></v-text-field>
      <label>{{ $t('password') }}</label>
      <v-text-field 
        v-model="password"
        :append-icon="visible ? 'visibility_off' : 'visibility'"
        @click:append="() => (visible = !visible)"
        :type="visible ? 'text' : 'password'"></v-text-field>
      <label>{{ $t('organizerName') }}</label>
      <v-text-field v-model="name"></v-text-field>
      <label>{{ $t('phone') }}</label>
      <v-text-field v-model="phone"></v-text-field>
      <v-btn @click="uploadOrganizer">{{ $t('send') }}</v-btn>
      <v-progress-linear size=64 color=#ff5252 indeterminate v-if=isLoading></v-progress-linear>
    </div>
    <div v-if="upload" class="upload">
      <h3>{{ $t('request_done') }}</h3>
      <v-btn @click="changeVariable">{{ $t('other_request') }}</v-btn>
    </div>
  </div>
</template>

<script>
import NavbarMain from '@/components/NavbarMain.vue';
import * as firebase from 'firebase';

export default {
  name: 'GetACode',
  components: {
    NavbarMain,
  },
  data() {
    return {
      email: '',
      password: '',
      name: '',
      phone: '',
      isLoading: false,
      upload: false,
      visible: false,
    }
  },
  methods: {
    changeVariable(){
      this.email = ''
      this.password = ''
      this.name = ''
      this.phone = ''
      this.upload = false;
    },
    uploadOrganizer() {
      this.email = this.email + '@organizador.com'
      this.isLoading = true;
      var ref = firebase.database().ref('/requests');
      ref.push({
        email: this.email,
        password: this.password,
        name: this.name,
        phone: this.phone,
      })
      .then(() => {
        this.upload = true;
        this.isLoading = false;
      })
      .catch(() => {
        this.isLoading = false;
      })
    }
  }
}
</script>


<style scoped>
.v-btn{
  border-radius: 4px;
  height: 52px;
  width: 30%;
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right top, #ff5252, #ff5a4e, #ff614a, #ff6946, 
  #ff7043, #ff7841, #ff803f, #ff883d, #ff933d, #ff9d3d, #ffa73f, #ffb142);
}
.bg{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 250px solid #ff793f;
  border-left: 900px solid transparent;
  z-index: 1;
}
.bg2{
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid #ff5252;
  border-right: 700px solid transparent;
  z-index: 1;
}

.bg3{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-top: 700px solid #ff5252;
  border-left: 600px solid transparent;
  z-index: 0;
}
.bg4{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-bottom: 400px solid #ff793f;
  border-left: 800px solid transparent;
  z-index: 0;
}

p{
  font-family: 'Poppins', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 1;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 7%;
  margin-left: 8%;
  height: 400px;
  width: 100%;
  text-align: left;
  z-index: 100;
}

.upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  height: 100%;
  width: 100%;
  text-align: left;
}

.v-text-field{
  height: 8px;
  width: 30%;
  color: #ff933d;
  font-family: 'Poppins', sans-serif;
}
label{
  text-align: left;
  width: 30%;;
  font-family: 'Poppins', sans-serif;
}
h3{
  font-family: 'Poppins', sans-serif;
}
</style>
