<template>
  <div class="container-inbox">
    <ToolbarComponent :title="$t('inbox')"/>
    <div class="messages">
      <div class="container" v-for="(message,index) in messages" :key="index">
      <div class="message-container" color="#ff5252">
        <div class="subject">
        <h3>{{message.subject}}</h3>
        <div class="buttons">
          <v-icon medium color="white" @click="reply = index">reply</v-icon>
          <v-icon medium color="white" @click="setConfirmation(index)">delete</v-icon>
        </div>
        <div class="confirmation" v-if="deleteConfirmation && deleteIndex == index">
          <p>¿Esta seguro de eliminar el mensaje?</p>
        </div>
        <div class="options-confirmation" v-if="deleteConfirmation && deleteIndex == index">
          <p @click="deleteMessage(message, message.user, message.subject, message.message)">SI</p>
          <p @click="deleteConfirmation = !deleteConfirmation">NO</p>
        </div>
        </div>
        <p class="message">{{message.message}}</p>
      </div>
      <div class="response" v-if="reply == index">
        <v-textarea placeholder="Respuesta..." clear-icon class="white--text" v-model="response"></v-textarea>
        <div style="width: 100%; position: relative">
          <v-icon color="#ff5252" style="position: absolute; right: 10px;" @click="responseToUser(message.user, message.subject)">send</v-icon>
          <v-icon color="black" style="position: absolute; right: 0;" @click="reply = -1">clear</v-icon>
        </div>
      </div>
      </div>
    </div>
    <v-alert class="alert" v-model="successDelete" dismissible type="success">Mensaje eliminado correctamente</v-alert>
    <v-alert class="alert" v-model="successSend" dismissible type="success">Mensaje enviado correctamente</v-alert>
  </div>
</template>


<script>
import InboxPage from '@/views/InboxPage.vue'
import ToolbarComponent from '@/components/ToolbarComponent.vue'
import * as firebase from 'firebase';

export default {
  name: 'InboxPage',
  data() {
    return {
      reply: -1,
      response: '',
      deleteConfirmation: false,
      deleteIndex: -1,
      successDelete: false,
      successSend: false,
      messages: [],
    }
  },
  components: {
    InboxPage,
    ToolbarComponent,
  },
  methods: {
    deleteMessage(messageObject, userUID, messageSubject, messageValue){
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/messages')
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().message == messageValue && 
              child.val().user == userUID && 
              child.val().subject == messageSubject){
            var deleteRef = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/messages/'+child.key);
            deleteRef.remove().then(() => {
              this.updateCounter();
              this.successDelete = true;
            })
          }
        })
      })
    },
    setConfirmation(index) {
      this.deleteIndex = index;
      this.deleteConfirmation = true;
    },
    responseToUser(userUID, messageSubject){
      var ref = firebase.database().ref('/users/'+userUID+'/notifications')
      ref.push({
        subject: 'RE: ' + messageSubject,
        messageReply: this.response,
        organizer: this.$store.state.userState.UID,
      })
      .then(() => {
        this.successSend = true;
      })
    },
    updateCounter() {
      var newCounter = 0;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/number_messages')
      ref.once('value', (snapshot) => {
        newCounter = snapshot.val();
        newCounter--;
        ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID)
        ref.update({
          number_messages: newCounter,
        })
      })
    }
  },
  created(){
    var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/messages')
    ref.on('value', (snapshot) => {
      this.messages = [];
      snapshot.forEach((child) => {
        this.messages.push(child.val())
      })
    })
  }
}
</script>


<style scoped>
.alert{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.textarea{
  width: 100%;
}
.container-inbox {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

.v-icon:first-child{
  margin-right: 16px;
}
.response{
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

.messages{
  width: 100%;
}

.confirmation{
  background: white;
  color: #ff5252;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation p{
  margin: 0;
}

.options-confirmation{
  padding: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background: white;
}

.options-confirmation p{
  margin: 0;
  color: #ff5252;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  transition: 100ms;
}

.options-confirmation p:hover{
  font-size: 22px;
}

.subject{
  font-size: 20px;
  color: white;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 90% 10%;
}

.subject h3{
  padding: 16px;
}
.message{
  color: white;
  margin-bottom: 8px;
  padding: 16px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 100%;
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 4px;
  padding: 0;
}
.message-container{
  width: 100%;
  background: #ff5252;
  border-radius: 8px;
}
.v-icon:hover{
  cursor:pointer;
}

</style>
