<template>
  <div class="main-screen">
    <ToolbarComponent :title="$t('dashboard')" v-if="completeLoad"/>
    <div class="loading" v-if="!completeLoad">
      <div class="loading-inner">
        <p>Cargando..</p>
        <v-progress-linear size=64 color=white indeterminate v-if=!completeLoad></v-progress-linear>
      </div>
    </div>
    <div class="cards" v-if="completeLoad">
    <v-card>
        <div class="user-welcome">
          <img :src="imageProfile" />
          <h2>{{ $t('welcomeMsg') }}, {{user.name}}</h2>
        </div>
      </v-card>
      <v-card class="gradient" color="#ff5252">
        <div class="user-events">
          <h1> {{ user.numberEvents }}</h1>
          <h3>{{ $t('eventsPublished') }}</h3>
        </div>
      </v-card>
      <v-card class="gradient" color="#ff5252">
        <div class="user-events">
          <h1> {{ user.numberPlaces }}</h1>
          <h3>{{ $t('placesPublished') }}</h3>
        </div>
      </v-card>
      <v-card>
        <p class="nextEvent">{{ $t('nextEvent') }}</p>
          <div class="container-timer">
            <div id="days" class="containers">
              <label>{{ $t('days') }}</label>
              <p>{{days}}</p>
            </div>
            <div id="hours" class="containers">
              <label>{{ $t('hours') }}</label>
              <p>{{hours}}</p>
            </div>
            <div id="minutes" class="containers">
              <label>{{ $t('minutes') }}</label>
              <p>{{minutes}}</p>
            </div>
            <div id="seconds" class="containers">
              <label>{{ $t('seconds') }}</label>
              <p>{{seconds}}</p>
            </div>
          </div>
      </v-card>
      <v-card class="gradient" color="#ff5252">
        <div class="user-events">
          <h1> {{ user.earnings }} €</h1>
          <h3>{{ $t('earnings') }}</h3>
        </div>
      </v-card>
      <v-card class="gradient" color="#ff5252">
        <div class="user-events">
          <h1> {{ user.numberFollowers }}</h1>
          <h3>{{ $t('followers') }}</h3>
        </div>
      </v-card>
    </div>
  </div>

</template>

<script>
import firebase from 'firebase';
import i18n from '@/plugins/i18n';
import ToolbarComponent from '@/components/ToolbarComponent.vue'
import { mapState } from 'vuex';

export default {
  name: 'MainScreen',
  data() {
    return {
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
      events: [],
      userData: [],
      startTime: '',
      endTime: '',
      days: 0,
      hours: 0,
      minutes: 0,
      seconds: 0,
      titleEventCountDown: '',
      imageProfile: null,
      completeLoad: false,
    }
  },
  computed: 
    mapState({
      user: 'userState',
    }),
  components: {
    ToolbarComponent,
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    count(start, end) {
      var difference = end - start;

      setInterval(() => {
        start = start + 1000;
        var difference = end - start;
        this.calcTime(difference);
      }, 1000)
    },
    calcTime(difference) {
      this.days = Math.floor(difference / (1000 * 60 * 60 * 24))
      this.hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      this.minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
      this.seconds = Math.floor((difference % (1000 * 60)) / 1000);
    }
  },
  mounted () {
    this.$store.dispatch('setLoading', false);
    this.events = [];
      firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/events').orderByChild('date')
      .once('value', (snapshot) => {
        snapshot.forEach((child) => {
          this.events.push(child.val());
        })
      })
      .then(() => {
        for(var i = 0; i < this.events.length; i++) {
          if(new Date(this.events[i].date).getTime() < new Date().getTime()){
            var index = this.events.indexOf(this.events[i]);
            this.events.splice(index, 1);
          }
        }
        if(this.events.length > 0){
          var date = this.events[0].date;
          this.titleEventCountDown = this.events[0].title;
          this.count(new Date().getTime(), new Date(date).getTime());
        }
        this.completeLoad = true;
      })
  }, 
  created(){
    var userID = firebase.auth().currentUser.uid;
    firebase.database().ref('/organizers/' + userID).once('value')
    .then((snapshot) => {
      this.imageProfile = snapshot.val().image_profile
      this.$store.dispatch('setUser', snapshot.val())
    });
  },
}
</script>

<style scoped>
.loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff5252;
}
.loading-inner{
  width: 50%;
  color: white;
}
.btn-stats{
  padding: 0; 
  margin: 0; 
  width: 100%; 
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
.container-timer{
  background: white;
  display: flex;
  flex-direction: column;
  height: 70%;
}
.containers{
  font-size: 32px;
  display: grid;
  grid-template-columns: 80% 20%;
  color: white;
  flex-grow: 1;
  padding: 8px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  width: calc(100% - 16px);
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
.gradient{
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
.stats{
  width: 100%;
  height: 100%;
  padding: 16px;
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
.main-screen{
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}
.user-events{
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.user-welcome{
  color: #ff5252;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.user-events h1{
  margin: 42px;
  font-size: 64px;
}
.user-events h3{
  font-size: 24px;
}
.v-card{
  height: 100%;
  
}
img{
  border-radius: 100%;
  height: 96px;
  width: 96px;
  margin: 8px 16px;
}
.cards{
  width: 100%;
  height: 100%;
  margin: 96px 32px 0 32px;
  display: grid;
  grid-template-columns: 25% 30% 30%;
  grid-template-rows: 30% 50%;
  grid-gap: 32px;
}
.stats-div{
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
h1{
  margin: 100px 32px 32px 32px;
}
.nextEvent{
  font-size: 38px; 
  text-align: center; 
  color: white;
  background-image: linear-gradient(to right, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
}
</style>


