<template>
  <div class="main-promotions">
    <ToolbarComponent :title="$t('manage_promotions')" v-if="completeLoad"/>
    <div class="loading" v-if="!completeLoad">
      <div class="loading-inner">
        <p>Cargando..</p>
        <v-progress-linear size=64 color=white indeterminate v-if=!completeLoad></v-progress-linear>
      </div>
    </div>
    <div class="container-promotions">
      <div class="promotion" v-for="(promotion, index) in promotions" :key="index">
        <img :src="promotion.imagePromotion" />
        <div class="details">
          <div><b>{{ $t('title_promotion') }}: </b>{{promotion.titlePromotion}}</div>
          <div><b>{{ $t('description_promotion') }}: </b>{{promotion.descriptionPromotion}}</div>
          <div><b>{{ $t('date_promotion') }}: </b>{{promotion.datePromotion}}</div>
          <div><b>{{ $t('points_to_get_promotion') }}: </b>{{promotion.pointsPromotion}}</div>
        </div>
        <v-btn color="#ff5252" @click="getKeyToDelete(promotion)">Eliminar promocion</v-btn>
      </div>
    </div>
  </div>
</template>


<script>
import ToolbarComponent from '@/components/ToolbarComponent.vue'
import * as firebase from 'firebase';

export default {
  name: 'ManagePromotions',
  components: {
    ToolbarComponent,
  },
  data() {
    return {
      promotions: [],
      loading: true,
      completeLoad: false,
    }
  },
  created() {
    var ref = firebase.database().ref('/promotions/'+firebase.auth().currentUser.uid)
    ref.on('value', (snapshot) => {
      snapshot.forEach((child) => {
        this.promotions.push(child.val())
      })
    })
    this.completeLoad = true;
  },
  methods: {
    getKeyToDelete(promotion){
      var ref = firebase.database().ref('/promotions/'+firebase.auth().currentUser.uid)
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(this.checkPromotion(promotion, child)) this.deletePromotion(child.key, child.val());
        })
      })
    },
    checkPromotion(promotion, child) {
      return child.val().titlePromotion == promotion.titlePromotion &&
          child.val().descriptionPromotion == promotion.descriptionPromotion &&
          child.val().pointsPromotion == promotion.pointsPromotion;
    },

    deletePromotion(keyPromotion, promotion){
      var ref = firebase.database().ref('/promotions/'+firebase.auth().currentUser.uid+'/'+keyPromotion)
      ref.remove()
      .then(() => {
        var index = this.promotions.indexOf(promotion);
        this.promotions.splice(index, 1);
      })
    }
  }
}
</script>


<style scoped>
.main-promotions{
  font-family: 'Poppins', sans-serif;
}
.container-promotions{
  width: 100%;
  margin-top: 4%;
  padding: 8px;
}
.promotion{
  margin-top: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100%;
  padding: 8px;
}
.promotion img{
  width: 90px;
  height: 90px;
}
.details{
  flex-grow: 1;
  margin-left: 8px;
}
.details b{
  font-size: 16px;
}
.details div{
  border-left: 2px solid #ff5252;
  margin-top: 8px;
  padding: 4px;
  overflow: scroll;
  word-wrap: break-word;
  width: 100%;
}
.v-btn{
  height: 97%;
  color: white;
}
</style>
