<template>
  <div class="container-manage-places">
    <ToolbarComponent :title="$t('manage_places')" v-if="completeLoad"/>
    <div class="loading" v-if="!completeLoad">
      <div class="loading-inner">
        <p>Cargando..</p>
        <v-progress-linear size=64 color=white indeterminate v-if=!completeLoad></v-progress-linear>
      </div>
    </div>
    <div class="container-places">
      <div class="places" v-for="(place,i) in places" :key="i">
        <v-btn only-icon fab class="delete" @click="deletePlace(place)">
          <v-icon>clear</v-icon>
        </v-btn>
        <img class="img-place" v-bind:src="place.image1"/>
        <h4>{{place.title}}</h4>
        <p>{{place.description}}</p>
        <v-btn class="details-button" color="#ff5252" outline @click="placeDetails(place)">{{ $t('details') }}</v-btn>
      </div>
    </div>
  </div>
</template>


<script>
import ToolbarComponent from '@/components/ToolbarComponent.vue'
import firebase,{ functions } from 'firebase';

export default {
  name: 'ManagePlaces',
  data() {
    return {
      places: [],
      completeLoad: false,
    }
  },
  components: {
    ToolbarComponent,
  },
  async created () {
    var db = firebase.database();
    const eventsRef = db.ref('/organizers/'+this.$store.state.userState.UID+'/places');
    await eventsRef.on('value', (snapshot) => {
      if(snapshot.val() != 'none'){
        this.places = snapshot.val()
      }
    })
    this.completeLoad = true;
  },
  methods: {
    placeDetails(place){
      this.$router.push({ name: 'PlaceDetails', params: { place: place } })
    },
    deletePlace(place) {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/places');
      ref.orderByChild('timestamp').equalTo(place.timestamp)
      .once('value').then((snapshot) => {
        snapshot.forEach((childSnapshot) => {
        ref.child(childSnapshot.key).remove()
        .then(() => {
          this.getNumberPlaces();
        })
        this.closeDialog();
        });
      });
    },
    getNumberPlaces() {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID)
      ref.once('value', (snapshot) => {
        this.updateCounter(snapshot.val().number_places)
      })
    },
    updateCounter(number_places){
      var newNumberPlaces = number_places - 1;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID)
      ref.update({
        number_places: newNumberPlaces,
      })
      .then(() => console.log("HECHO"))
    }
  }
}
</script>


<style scoped>
.loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff5252;
}
.loading-inner{
  width: 50%;
  color: white;
}
.details-button{
  float: right;
}
.delete{
    position: absolute;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    display: flex;
  }
.container-manage-places {
  font-family: 'Poppins', sans-serif;
}

  .container-places{
    padding: 32px;
    margin-top: 56px;
    display: grid;
    grid-gap: 32px;
    justify-content: center;
    grid-template-columns: 299px 299px 299px 299px;
  }
  .img-place{
    width: 299px;
    height: 188px;
  }
  .places{
    position: relative;
    z-index: 0;
    width: 299px;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .places h4{
    margin: 8px;
  }
  .places p{
    margin: 8px;
  }
</style>
