<template>
  <div class="container-manage-events">
    <ToolbarComponent :title="$t('manage_events')" v-if="completeLoad"/>
    <div class="loading" v-if="!completeLoad">
      <div class="loading-inner">
        <p>Cargando..</p>
        <v-progress-linear size=64 color=white indeterminate v-if=!completeLoad></v-progress-linear>
      </div>
    </div>
    <div class="container-events" >
      <div class="events" v-for="(event,i) in events" :key="i">
        <v-btn only-icon fab class="delete" @click="deleteEvent(event)">
          <v-icon>clear</v-icon>
        </v-btn>
        <img class="img-event" v-bind:src="event.image1"/>
        <h4>{{event.title}}</h4>
        <p>{{event.description}}</p>
        <v-btn class="details-button" color="#ff5252" outline @click="eventDetails(event)">{{ $t('details') }}</v-btn>
      </div>
    </div>
  </div>
</template>


<script>
import ToolbarComponent from '@/components/ToolbarComponent.vue'
import firebase,{ functions } from 'firebase';

export default {
  name: 'ManageEvents',
  data () {
    return {
      events: [],
      completeLoad: false,
    }
  },
  components: {
    ToolbarComponent,
  },
  async created () {
    var db = firebase.database();
    const eventsRef = db.ref('/organizers/'+this.$store.state.userState.UID+'/events');
    await eventsRef.on('value', (snapshot) => {
      if(snapshot.val() != 'none'){
        this.events = snapshot.val()
      }
    })
    this.completeLoad = true;
  },
  methods: {
    eventDetails(event){
      this.$router.push({ name: 'EventDetails', params: { event: event } })
    },
    deleteEvent(event) {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/events');
      ref.orderByChild('timestamp').equalTo(event.timestamp)
      .once('value').then((snapshot) => {
        snapshot.forEach((childSnapshot) => {
          ref.child(childSnapshot.key).remove()
          .then(() => {
            this.getNumberEvents();
          })
        });
      });
    },
    getNumberEvents() {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID)
      ref.once('value', (snapshot) => {
        this.updateCounter(snapshot.val().number_events)
      })
    },
    updateCounter(number_events){
      var newNumberEvents = number_events - 1;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID)
      ref.update({
        number_events: newNumberEvents,
      })
      .then(() => console.log("HECHO"))
    }
  } 
}
</script>


<style scoped>
.loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff5252;
}
.loading-inner{
  width: 50%;
  color: white;
}
.details-button{
  float: right;
}
  .delete{
    position: absolute;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    display: flex;
  }
 
  .container-manage-events {
    font-family: 'Poppins', sans-serif;
  }
  .container-events{
    padding: 32px;
    margin-top: 56px;
    display: grid;
    grid-gap: 32px;
    justify-content: center;
    grid-template-columns: 299px 299px 299px 299px;
  }
  .img-event{
    z-index: 0;
    width: 299px;
    height: 188px;
    border-radius: 4px;
  }
  .events{
    position: relative;
    width: 299px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .events h4{
    margin: 8px;
  }
  .events p{
    margin: 8px;
  }

</style>
