<template>
  <div class="container-details-place">
    <v-dialog class="dialog" v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar flat dark color="#ff5252">
          <v-btn icon dark @click="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{this.place.title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn v-if="!edit" color="white" flat @click="deletePlace">{{ $t('delete_place') }}</v-btn>
            <v-btn v-if="!edit" color="white" flat @click="edit = true">{{ $t('edit_place') }}</v-btn>
            <v-btn v-if="edit" color="white" flat @click="saveChangesOnPlace">{{ $t('save') }}</v-btn>
            <v-btn v-if="edit" color="white" flat @click="edit = false">{{ $t('cancel') }}</v-btn>
            <div>
              <button class="language" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared="false" />
              </button>
            </div>
          </v-toolbar-items>
        </v-toolbar>
        <div class="container">
          <div class="container-place">
            <v-carousel height="300">
              <v-carousel-item
                :src="this.place.image1"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
              <v-carousel-item
                :src="this.place.image2"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
              <v-carousel-item
                :src="this.place.image3"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
            </v-carousel>
            <div class="details">
              <div class="title-description">
                <h3 class="mainTitle">{{ $t('title_place_details') }}</h3>
                <v-text-field 
                  v-if="edit"
                  :value="this.place.title"
                  v-model="title"
                ></v-text-field>
                <p v-if="!edit" class="subtitle">{{this.place.title}}</p>
                <h3 class="mainTitle">{{ $t('description_place_details') }}</h3>
                <v-textarea
                  v-if="edit"
                  :value="this.place.description"
                  v-model="description"
                ></v-textarea>
                <p v-if="!edit" class="subtitle">{{this.place.description}}</p>
                <h3 class="mainTitle">{{ $t('aforo_place') }}</h3>
                <v-text-field 
                  v-if="edit"
                  :value="this.place.aforo"
                  v-model="aforo"
                ></v-text-field>
                <p v-if="!edit" class="subtitle">{{this.place.aforo}}</p>
              </div>
              <div class="date-location">
                <h3 class="mainTitle">{{ $t('date_place_details') }}</h3>
                <v-btn v-if="edit">{{ $t('edit_time_place') }}</v-btn>
                <TimePlace v-if="timeEdit" @clickedTimePlace="saveTimePlace"/>
                <div class="subtitle" v-for="time in this.place.time" :key="time">
                  <p v-if="!time.closed">{{time.label}}: {{time.timeStart}} - {{time.timeEnd}}</p>
                  <p v-if="time.closed">{{time.label}}: {{ $t('closed') }}</p>
                </div>
              </div>
              <div class="location">

              <h3 class="mainTitle">{{ $t('location_place_details') }}</h3>
              <gmap-map
                  :center="center"
                  :zoom="16"
                  style="width:100%;  
                  height: 200px; 
                  border: 1px solid black;
                  margin-top: 16px;"
                >
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center=m.position"
                ></gmap-marker>
              </gmap-map>
              </div>
            </div><!---->
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import TimePlace from '@/components/TimePlace.vue';
import * as firebase from 'firebase';
import i18n from '@/plugins/i18n';

export default {
  data (){
    return {
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      dialog: true,
      place: [],
      edit: false,
      title: '',
      description: '',
      timePlace: null,
      aforo: '',
      timeEdit: false,
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  components: {
    TimePlace,
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    saveTimePlace(value){
      this.timePlace =  value;
    },
    closeDialog: function () {
      this.dialog = false;
      this.$router.replace('/manage_places');
    },
    saveChangesOnPlace() {
      this.edit = false;
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/places');
      ref.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().timestamp == this.place.timestamp && 
          child.val().title == this.place.title){
            this.updatePlace(child.key);
          }
        })
      })
    },
    async updatePlace(placeKey){
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/places/'+placeKey)
      await ref.update({
        title: this.title,
        description: this.description,
        aforo: this.aforo,
      })
    },
    deletePlace() {
      var ref = firebase.database().ref('/organizers/'+this.$store.state.userState.UID+'/places');
      ref.orderByChild('timestamp').equalTo(this.place.timestamp)
      .once('value').then(function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
        ref.child(childSnapshot.key).remove();
        this.closeDialog();
        });
      });
    }
  },
  created() {
    this.place = this.$route.params.place;
    this.center.lat = this.$route.params.place.location.latitude;
    this.center.lng = this.$route.params.place.location.longitude;
    this.title = this.place.title;
    this.description = this.place.description;
    this.timePlace = this.place.time;
    this.aforo = this.place.aforo;
  }
}
</script>


<style scoped>
.container-details-place{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container-place{
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dialog{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
.v-card{
  height: 100%;
}

.details{
  width: 100%;
  padding: 8px;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.mainTitle{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  border-left: 4px solid #ff5252;
  padding: 8px;
  margin-top: 4px;
}

.subtitle{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
}
.v-toolbar{
  font-family: 'Poppins', sans-serif;
}
</style>
