<template>
  <div class="signup-container">
    <div class="bg"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
    <p>{{ $t('copyright') }}</p>
    <NavbarMain isSignup=true></NavbarMain>
    <SignupForm/>
  </div>
</template>


<script>
import NavbarMain from '@/components/NavbarMain.vue';
import SignupForm from '@/components/SignupForm.vue';

export default {
  name: 'Signup',
  components: {
    NavbarMain,
    SignupForm,
  },
  methods: {
    
  }
}
</script>

<style scoped>
.bg{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 250px solid #ff793f;
  border-left: 900px solid transparent;
  z-index: 1;
}

.bg2{
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid #ff5252;
  border-right: 700px solid transparent;
  z-index: 1;
}
.bg3{
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-top: 700px solid #ff793f;
  border-left: 600px solid transparent;
  z-index: 0;
}
.bg4{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  border-bottom: 400px solid #ff5252;
  border-left: 800px solid transparent;
  z-index: 0;
}

p{
  font-family: 'Poppins', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 1;
}
</style>
