<template>
  <div class="container-calendar">
    <v-menu
      :close-on-content-click="false"
      v-model="menu"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <v-text-field
        slot="activator"
        :value="computedDateFormattedMomentjs"
        label="Date"
        persistent-hint
        prepend-icon="event"
        readonly
      >
      </v-text-field>
      <v-date-picker :allowed-dates="allowedDates" :show-current=true v-model="date" no-title @input="saveDate()"></v-date-picker>
    </v-menu>
  </div>
</template>


<script>
import moment from 'moment'

export default {
  name: 'CalendarComponent',
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu: false,
  }),

  computed: {
      computedDateFormattedMomentjs () {
        return this.date ? moment(this.date).locale('es-us').format('LL') : ''
      },
  },

  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },

  methods: {
    allowedDates: val => moment(val) > moment(),
    saveDate() {
      this.$emit('saveDate', this.date)
    },
    formatDate(date) {
      if(!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    parseDate (date) {
      if (!date) return null
      
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  },
  created: function () {
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    this.date = tomorrow.toISOString().substring(0,10);
    console.log("Fecha: ", this.date)
    this.saveDate();
  }
}
</script>


<style scoped>

</style>
