<template>
  <div>
    <div>
      <h3>{{ $t('where_is_your_place') }}</h3>
      <label>
        <gmap-autocomplete
        class="gmap-autocomplete"
          @place_changed="setPlace">
        </gmap-autocomplete>
      </label>
      <br/>

    </div>
    <br>
    <gmap-map
      :center="center"
      :zoom="zoomMap"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>


<script>
export default {
  name: 'GoogleMap',
  data() {
    return {
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      zoomMap: 12,
    }
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    setPlace(place) {
      this.currentPlace = place;
      this.center.lat = place.geometry.location.lat();
      this.center.lng = place.geometry.location.lng();
      this.addMarker();
      this.$emit('location', place);
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.zoomMap = 18;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  }
}
</script>


<style scoped>
.gmap-autocomplete{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid black;
}
</style>
