<template>
  <div class="content-navbar-main">
    <div class="logo">
      <img src="../assets/logo_web.png" />
      <h2>Socialzit</h2>
    </div>
    <div class="menu">
      <p @click="openPage('getacode')">{{ $t('getACodeMessage') }}</p>
      <p v-if=isSignup @click="openPage('signin')">{{ $t('signInMessage') }}</p>
      <p v-if=!isSignup @click="openPage('signup')">{{ $t('signUpMessage') }}</p>
      <p @click="openPage('aboutus')">{{ $t('aboutUsMessage') }}</p>
      <div class="languages">
        <button v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
          <flag :iso="entry.flag" v-bind:squared=false />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '@/plugins/i18n';

export default {
  name: 'NavbarMain',
  data() {
    return {
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  props: {
    isSignup: false,
  },
  methods: {
    openPage(page) {
      this.$router.replace(page);
    },
    changeLocale(locale) {
        i18n.locale = locale;
    },
  }
};
</script>

<style scoped>

.content-navbar-main{
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 50px;
  margin-top: 10px;
}
.logo h2{
  margin-left: 16px;
  color: #ff793f;
  font-size: 48px;
}

.logo{
  line-height: 70px;
  display: flex;
  position: absolute;
  left: 5%;
  align-items: center;
}

.logo img{
  max-height: 70px;
}

.menu{
  display: flex;
  z-index: 1;
  position: absolute;
  right: 5%;
}

.menu p{
  margin: 16px 16px 16px 16px;
}

.menu p:hover{
  transition: 400ms;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #FF793F;
}
.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.languages button {
  margin-right: 8px;
  widows: 100px;
}


</style>
