<template>
  <div class="content-signup-form">
    <div class="form-signup">
      <h1>{{ $t('signUpMessage') }}</h1>
      <hr>
      <p>{{ $t('welcomeMessageSignUp') }}</p>
      <v-text-field v-model="code" append-icon="https" hint="code"></v-text-field>
      <v-btn @click="register">{{ $t('formMainMessage') }}</v-btn>
      <v-progress-linear size=64 color=#ff5252 indeterminate v-if=isLoading></v-progress-linear>
      <p v-if="succesfull">Register succesfull!</p>
      <p v-if="!succesfull && clic">Oh oh, we have a problem, contact with admin!</p>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'SignupForm',
  data() {
    return{
      code: '',
      succesfull: false,
      clic: false,
    }
  },
  computed:{
    isLoading() {
      return this.$store.state.userState.isLoading;
    }
  },
  mounted() {
    window.addEventListener('keyup', (event) => {
      if (event.keyCode === 13) { 
        this.register();
      }
    })
  },
  methods: {
    register() {
      this.$store.dispatch('setLoading', true);
      var reference = firebase.database().ref('organizers/');
      reference.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().codeRegister == this.code && child.val().isRegister){
            // this.$store.dispatch('setLoading', false);
          }else if (child.val().codeRegister == this.code && !child.val().isRegister){
            firebase.database().ref('organizers/' + child.key).update({
              isRegister: true,
            })
            .then(() => {
              this.$store.dispatch('setLoading', false);
              this.succesfull = true;
            })
            .catch(() => {
              this.$store.dispatch('setLoading', false);
              this.clic = true;
            })
          }
        });
      })
      this.$store.dispatch('setLoading', false);
    },
  }
}
</script>


<style scoped>
.v-btn{
  margin-top: 32px;
  border-radius: 4px;
  height: 52px;
  width: 100%;
  margin: 0;
  color: white;
  background-image: linear-gradient(to right top, #ff5252, #ff5a4e, #ff614a, #ff6946, 
  #ff7043, #ff7841, #ff803f, #ff883d, #ff933d, #ff9d3d, #ffa73f, #ffb142);
}

v-text-field{
  margin: 0;
  padding: 0;
}
hr{
  border: none;
  height: 3px;
  background-image: linear-gradient(to right top, #ff5252, #ff5a4e, #ff614a, #ff6946, 
  #ff7043, #ff7841, #ff803f, #ff883d, #ff933d, #ff9d3d, #ffa73f, #ffb142);
}
h1{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 48px;
}
p{
  text-align: center;
  margin: 16px;
  font-size: 12px;
}
.content-signup-form{
  display: flex;
  margin-top: 150px;
  justify-content: left;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.form-signup{
  width: 30%;
  height: 350px;
  margin-left: 15%;
}
</style>
