<template>
<div class="content-login-form">
  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ text }}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
  </v-snackbar>
  <v-snackbar
      v-model="snackbar_register"
      :timeout="timeout"
    >
      {{ textRegisterError }}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
  </v-snackbar>
    <v-snackbar
      v-model="showAlertPassword"
      :timeout="timeout"
    >
      In few minutes, we contact you by phone!
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
  </v-snackbar>
  <div class="form-login">
    <h1>{{ $t('signInMessage') }}</h1>
    <hr>
    <p>{{ $t('welcomeMessageSignIn') }}</p><p class="forgotpassword" @click="forgotPassword">{{ $t('forgotPassword') }}</p>
    <div class="text-field">
      <v-text-field v-if="!organizer" v-model="email" append-icon="email" hint="email" suffix="@organizador.com"></v-text-field>
      <v-text-field v-if="organizer" v-model="email" append-icon="email" hint="email"></v-text-field>
      <v-text-field v-model="password"  
      hint="password"
      :append-icon="visible ? 'visibility_off' : 'visibility'"
      @click:append="() => (visible = !visible)"
      :type="visible ? 'text' : 'password'"></v-text-field>
    </div>
    <v-btn v-if="!isLoading" class="btn-login" @click="login">{{ $t('formMainMessage') }}</v-btn>
    <v-btn disabled v-if="isLoading" class="btn-login" @click="login">Loading...</v-btn>
    <p class="admin" @click="organizer = !organizer" v-if="!organizer">Soy administrador</p>
    <p class="admin" @click="organizer = !organizer" v-if="organizer">Soy organizador</p>
    <v-progress-linear size=64 color=#ff5252 indeterminate v-if=isLoading></v-progress-linear>
  </div>
</div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'SigninForm',
  data() {
    return {
      email: '',
      password: '',
      visible: false,
      snackbar: false,
      snackbar_register: false,
      showAlertPassword: false,
      disabled: false,
      organizer: false,
      timeout: 6000,
      text: 'Email or password incorrect',
      textRegisterError: 'Not registered yet'
    }
  },
  mounted() {
    window.addEventListener('keyup', (event) => {
      if (event.keyCode === 13) { 
        this.login();
      }
    })
  },
  computed:{
    isLoading() {
      return this.$store.state.userState.isLoading;
    }
  },
  methods: {
    async login() {
      this.$store.dispatch('setLoading', true);
      if(this.email.includes('admin')){
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
          this.$router.replace('admin-panel');
        })
      }
      var reference = firebase.database().ref('organizers/');
      await reference.once('value', (snapshot) => {
        snapshot.forEach((child) => {
          if(child.val().email == (this.email + '@organizador.com') && child.val().isRegister){
            firebase.auth().signInWithEmailAndPassword((this.email + '@organizador.com'), this.password)
            .then((user) => {
              this.$store.dispatch('setUser', firebase.auth().currentUser.uid);
              this.$router.replace('main');
            }).catch((err) => {
              this.snackbar = true;
              this.$store.dispatch('setLoading', false);
            });
          }
        });
      });
    },
    forgotPassword() {
      this.showAlertPassword = true;
    }
  }
}
</script>


<style scoped>
.admin:hover{
  cursor: pointer;
}
.forgotpassword:hover{
  cursor: pointer;
  z-index: 1000;
}
.btn-login{
  margin-top: 32px;
  border-radius: 4px;
  height: 52px;
  width: 100%;
  margin: 0;
  color: white;
  background-image: linear-gradient(to right top, #ff5252, #ff5a4e, #ff614a, #ff6946, 
  #ff7043, #ff7841, #ff803f, #ff883d, #ff933d, #ff9d3d, #ffa73f, #ffb142);
}
.text-field{
  margin-top: 32px;
}
v-progress-circular{
  justify-self: center;
  z-index: 1;
}
v-text-field{
  margin: 0;
  padding: 0;
}
hr{
  border: none;
  height: 3px;
  background-image: linear-gradient(to right top, #ff5252, #ff5a4e, #ff614a, #ff6946, 
  #ff7043, #ff7841, #ff803f, #ff883d, #ff933d, #ff9d3d, #ffa73f, #ffb142);
}
h1{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 48px;
}
p{
  text-align: center;
  margin: 16px;
  font-size: 12px;
}
.content-login-form{
  display: flex;
  margin-top: 150px;
  justify-content: left;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.form-login{
  width: 30%;
  height: 350px;
  margin-left: 15%;
}
</style>
