<template>
  <div class="container-tickets">
    <h3>Información ticket {{this.number}}</h3>
    <v-text-field
      v-model="ticket.titleTicket"
      label="Title ticket"
      required
    ></v-text-field>
    <v-text-field
      v-model="ticket.ticketPrice"
      label="Ticket price"
      required
    ></v-text-field>
    <v-text-field
    v-model="ticket.quantityTickets"
    label="Cantidad de tickets a la venta"
    required
    ></v-text-field>
    <v-btn :disabled=this.click @click="saveTicket" color="#ff497f" outline>Guardar ticket</v-btn>
  </div>
</template>


<script>
export default {
  name: 'Tickets',
  data() {
    return {
      ticket: {
        titleTicket: '',
        ticketPrice: '',
        quantityTickets: 0,
      },
      click: false,
    }
  },
  props: {
    number: 0,
  },
  methods: {
    saveTicket() {
      switch(this.number-1) {
        case 0:
          console.log("Ticket 0")
          this.click = true;
          this.$emit('clickedSaveTicket', this.ticket)
          break;
        case 1:
          console.log("Ticket 1")
          this.click = true;
          this.$emit('clickedSaveTicket', this.ticket)
          break;
        case 2:
          console.log("Ticket 2")
          this.click = true;
          this.$emit('clickedSaveTicket', this.ticket)
          break;
      }
    }
  }
}
</script>


<style scoped>

</style>
