<template>
  <div class="container-time-place">
    <div class="container-time" v-for="day in days" :key="day.value">
      <h4>{{ day.label }}</h4>
      <Time v-if="!day.closed" @clickedTimeFinish="updateTimeFinish(day, $event)" @clickedTimeStart="updateTimeStart(day, $event)"/>
      <v-checkbox label="No abro este dia" v-model="day.closed"></v-checkbox>
    </div>
  </div>
</template>


<script>
import Time from '@/components/Time.vue';

export default {
  name: 'TimePlace',
  data() {
    return {
      check: false,
      days: [
        { label: 'Monday', value: 'MONDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Tuesday', value: 'TUESDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Wednesday', value: 'WEDNESDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Thursday', value: 'THURSDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Friday', value: 'FRIDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Saturday', value: 'SATURDAY', closed: false, timeStart: null, timeEnd: null},
        { label: 'Sunday', value: 'SUNDAY', closed: false, timeStart: null, timeEnd: null},
      ]
    }
  },
  components: {
    Time,
  },
  methods: {
    updateTimeFinish(day, value) {
      day.timeEnd = value;
      this.$emit('clickedTimePlace', this.days)
    },
    updateTimeStart(day, value) {
      day.timeStart = value;
      this.$emit('clickedTimePlace', this.days)
    }
  },
}
</script>


<style scoped>
.container-time{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}
</style>
