<template>
  <div class="time">
    <v-flex xs11 sm5>
      <v-menu
        ref="menu1"
        :close-on-content-click="false"
        v-model="menu1"
        :nudge-right="40"
        :return-value.sync="timeStart"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <v-text-field
          color="#ff5252"
          slot="activator"
          v-model="timeStart"
          label="Time start"
          prepend-icon="access_time"
          readonly
        ></v-text-field>
        <v-time-picker
          v-if="menu1"
          v-model="timeStart"
          format="24hr"
          full-width
          @change="saveTimeStart"
          color="#ff5252"
        ></v-time-picker>
      </v-menu>
    </v-flex>
    <v-flex xs11 sm5>
    <v-menu
        ref="menu2"
        :close-on-content-click="false"
        v-model="menu2"
        :nudge-right="40"
        :return-value.sync="timeFinish"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <v-text-field
          color="#ff5252"
          slot="activator"
          v-model="timeFinish"
          label="Time finish"
          prepend-icon="access_time"
          readonly
        ></v-text-field>
        <v-time-picker
          color="#ff5252"
          v-if="menu2"
          v-model="timeFinish"
          format="24hr"
          full-width
          @change="saveTimeFinish"
        ></v-time-picker>
      </v-menu>
    </v-flex>
  </div>
</template>


<script>
import moment from 'moment';

export default {
  name: 'Time',
  data() {
    return {
      timeStart: null,
      timeFinish: null,
      menu1: false,
      menu2: false,
    }
  },
  methods: {
    allowedHours: v => v > new Date().getHours(),
    saveTimeStart(event){
      this.$refs.menu1.save(this.timeStart);
      this.$emit('clickedTimeStart', this.timeStart)
      console.log(this.timeStart)
    },
    saveTimeFinish(event) {
      console.log(this.timeFinish)
      if(this.timeStart != null){
        this.$refs.menu2.save(this.timeFinish)
        this.$emit('clickedTimeFinish', this.timeFinish);
      }else{
        console.log("Horas no validas")
      }
    },
  }
}
</script>


<style scoped>
.time{
  justify-content: center;
  display: flex;
}
</style>
