<template>
<div class="content-toolbar">
  <v-navigation-drawer
      :clipped="clipped"
      v-model="drawer"
      temporary
      app
      disable-resize-watcher
    >
    <v-toolbar-title id="title-nav-drawer">{{ this.$store.state.userState.name }}</v-toolbar-title>
    <v-list>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>dashboard</v-icon>
        </v-list-tile-avatar>
        <router-link tag="Main" to="/main">
          <v-list-tile-title>{{ $t('dashboard') }}</v-list-tile-title>
        </router-link>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>all_inbox</v-icon>
        </v-list-tile-avatar>
          <v-list-tile-title @click="openInboxPage">{{ $t('inbox') }}</v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>event</v-icon>
        </v-list-tile-avatar>
          <v-list-tile-title @click="openEventsPage">{{ $t('manage_events') }}</v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>location_on</v-icon>
        </v-list-tile-avatar>
          <v-list-tile-title @click="openPlacesPage">{{ $t('manage_places') }}</v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>location_on</v-icon>
        </v-list-tile-avatar>
          <v-list-tile-title @click="openPromotionsPage">{{ $t('manage_promotions') }}</v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <v-icon>settings</v-icon>
        </v-list-tile-avatar>
          <v-list-tile-title @click="openAccountPage">{{ $t('account') }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped" flat color="#ff5252">
      <v-toolbar-side-icon @click.stop="drawer = !drawer" class="white--text"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text">{{ this.title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click="openEventPage" color="white">{{ $t('addEvent') }}</v-btn>
        <v-btn flat @click="openPlacePage" color="white">{{ $t('addPlace') }}</v-btn>
        <v-btn flat @click="openPromotionPage" color="white">{{ $t('add_promotion') }}</v-btn>
        <div class="badge">
          <v-icon @click="openInboxPage" color="white" outline style="height: 100%;">email</v-icon>
          <div>{{this.$store.state.userState.numberMessages}}</div>
        </div>
        <v-icon @click="logout" color="white">logout</v-icon>
        <div>
          <button v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
            <flag :iso="entry.flag" v-bind:squared="false"  />
          </button>
        </div>
      </v-toolbar-items>
    </v-toolbar>
    </div>
</template>


<script>
import firebase from 'firebase';
import { mapState } from 'vuex';
import i18n from '@/plugins/i18n';

export default {
  name: 'ToolbarComponent',
  data() {
    return {
      drawer: false,
      clipped: false,
      fixed: false, 
      languages: [
        { flag: 'us', language: 'en', title: 'English' },
        { flag: 'es', language: 'es', title: 'Español' }
      ],
    }
  },
  props: {
    title: '',
  },
  methods: {
    changeLocale(locale) {
        i18n.locale = locale;
    },
    logout: function (){
      var router = this.$router;
      firebase.auth().signOut().then(function () {
        router.replace('/');
      })
    },
    openEventPage: function (){
      this.$router.replace('/addevent');
    },
    openPlacePage: function (){
      this.$router.replace('/addplace');
    },
    openPromotionsPage: function (){
      this.$router.replace('/manage_promotions');
    },
    openPromotionPage: function (){
      this.$router.replace('/addpromotion');
    },
    openInboxPage: function (){
      this.$router.replace('/inbox');
    },
    openAccountPage: function (){
      this.$router.replace('/account');
    },
    openPlacesPage: function (){
      this.$router.replace('/manage_places');
    },
    openEventsPage: function (){
      this.$router.replace('/manage_events');
    }
  },
  computed: 
    mapState ({
      userName: 'userState.name',
      numberMessages: 'userState.numberMessages',
    })
}
</script>


<style scoped>
.badge{
  height: 100%;
  margin-left: 8px;
  margin-right: 16px;
  position: relative;
}
.badge div{
  background: black;
  color: white;
  border-radius: 100%;
  height: 17px;
  width: 17px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 22%;
  right: -29%;
}
.button{
  height: 100%;
}
.v-list__tile__title{
  color: white;
}
.v-list__tile__title:hover{
  font-size: 16px;
  cursor: pointer;
}
.v-avatar img, .v-avatar .v-icon, .v-avatar .v-image{
  color: white;
}

.v-toolbar__title{
  margin: 32px;
  
}
.v-navigation-drawer{
  background-color: #DF4747;
  color: white;
}
.v-icon:hover{
  color: white;
  cursor: pointer;
}
button{
  height: 100%;
  margin-left: 16px;
}

</style>
