<template>
<div class="content-toolbar">
  <v-toolbar fixed app :clipped-left="clipped" flat color="#ff5252">
    <v-toolbar-title class="white--text">{{ this.title }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn flat @click="goToHome" color="white">HOME</v-btn>
      <v-btn flat @click="logout" color="white">LOGOUT</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</div>
</template>


<script>
import firebase from 'firebase';
import { mapState } from 'vuex';

export default {
  name: 'ToolbarAdminComponent',
  data() {
    return {
      drawer: false,
      clipped: false,
      fixed: false, 
    }
  },
  props: {
    title: '',
  },
  methods: {
    logout: function (){
      var router = this.$router;
      firebase.auth().signOut().then(function () {
        router.replace('/');
      })
    },
    goToHome() {
      this.$router.push('/admin-panel');
    }
  },
}
</script>


<style scoped>
.button{
  height: 100%;
}
.v-avatar img, .v-avatar .v-icon, .v-avatar .v-image{
  color: white;
}
.v-toolbar__title{
  margin: 32px; 
}
</style>
